# Ignore all object and dependency files
*.o
*.d

# Ignore all build directories
**/build/

# Ignore compiled binaries
particles_EMBEDDED
particles_HOST

# Ignore Pico SDK (assumed to be an external dependency)
platform/embedded/pico-sdk/

# Ignore Pico tool artifacts
platform/embedded/picotool/

# Ignore VS Code workspace settings
.vscode/

# Ignore CMake build artifacts (if any)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
